.nav_container{
  display: flex; 
  justify-content: space-around;
  align-items: center;
}

.nav_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width : 4rem;
  height: 2rem;
  text-decoration: none;
  color: white;
  background-color: red;
}

.nav_btn.selected{
  background-color: blue;
}