.nav_container{
  display: flex; 
  justify-content: space-around;
  align-items: center;
  background-color: var(--dark-background);
  padding: 20px 0;
}

.nav_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width : 4rem;
  height: 2rem;
  text-decoration: none;
  border : 2px solid rgb(189, 154, 110);
  border-radius: 15px;
  color: black;
  background-color: rgb(255, 236, 194);
  transition: .2s;
}

.nav_btn.selected{
  background-color: var(--dark-background);
  color:white;
}

.nav_btn:hover{
  transform: scale(1.1);
}