.most_wanted_container, .last_reward_container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap
}

.monster_info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.wanted_monster{
  margin: 1rem;
}

.monster_portrait{
  height: 10rem;
}