.footer_container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	/* margin-top: 200px; */
	bottom: 0;
	color: var(--white);
	background: linear-gradient(#ffffff57, var(--dark-background));
}
