.App {
	margin: 0;
	padding: 0;
	text-align: center;
	--white: white;
	--dark-background: hsl(239, 100%, 18%);
	--dark-tone: hsl(320, 100%, 29%);
	min-height: 100vh;
	background-image: url('./styles/pictures/back.jpg');
	background-size: cover;
	animation: backgroundMove 150s ease infinite;
}

@keyframes backgroundMove {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 0 0;
	}
}
