
.monster_cards_list_container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 4rem 0;
}

.monster_list_select {
  border: none;
  background-color: hsl(0, 7%, 44%);
  font-size: 1em;
  color: #ffff;
}