.map_monster_container{
	display: flex;
}

.map_title_container {
	margin-bottom: 75px;
}

.alert_container {
	transition: 1s;
	position: absolute;
	right: 0;
	top: -4.5rem;
	display: flex;
	align-items: baseline;
	flex-direction: row-reverse;
	z-index: 3;
}

.alert_btn{
	border: none;
	outline: none;
	border-radius: 50%;
	padding: 1rem;
}

.alert_btn_pic {
	width: 30px;
}

.confirm_btn {
	border: none;
	background-color: red;
	border-radius: 20px;
	color: #ffff;
	height: 2rem;
}

.map_container {
	position: relative;
	max-width: 80rem;
	min-width: 320px;
	margin: auto;
	height: 100vh;
	border-radius: 10px;
	box-shadow: 10px 10px 10px 1px black;	
}

.map_container.side{
	margin-left: 0;
}

.map {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	z-index: 1;
	border-radius: 10px;
}

.map_fraction {
	position: absolute;
	display: grid;
	grid-template-columns: repeat(15, 1fr);
	grid-template-rows: repeat(15, 1fr);
	width: 100%;
	height: 100%;
	z-index: 2;
	background-color: transparent;
}

.fraction {
	display: grid;
	background: none;
	border: none;
	width: 100%;
	z-index: 1;
}

.fraction:hover{
	box-shadow: inset 0 0 1px 2px white;
}

.fraction:focus {
	box-shadow: inset 0 0 1px 2px red;
}

.fraction_wanted {
	background: no-repeat;
	background-image: url('../../pictures/alert.png');
	background-position : 1rem .5rem;
	/* box-shadow: inset 0 0 10px 10px yellow; */
}
 
 /*.monster_located_container{
  margin-right: 0; 
} /*

.monster_location_msg{
	margin: 2rem;
}

.monster_located {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
	
}
