.map_page_container{

}

.map_container{
  position: relative;
  margin: auto;
  width: 1000px;
  height: 1000px;
}

.map{
  position: absolute;
  top: 0;
  left:0;
  z-index: 1;
  width: 1000px;
  height: 1000px;
}

.map_fraction{
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
  width: 1000px;
  height: 1000px;
  z-index: 2;
}

.fraction{
  width: 66.65px;
  height: 66.65px;
  box-shadow: inset 0 0 1px 1px grey;
}

.isFocus{
  background-color: red;
}